* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  width: 100%;
  background: #f3f4f4;
}

.basic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 93%;
  height: auto;
  padding-bottom: 30px;
}

.basic_2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 96%;
  height: auto;
}

.basic_3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 96%;
  height: 500px;
}

.weap {
  padding-bottom: 50px;
}

.ddl {
  // padding: 20px 20px 0 20px;
  flex-wrap: wrap;
  position: relative;
  top: 40px;
  padding: 20px;
  p {
    position: relative;
    top: 6px;
  }

  .number {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    border: solid 1px #d4d8dd;
  }
}
