* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  width: 100%;
  background: #f3f4f4;
}

.basic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 93%;
  height: auto;
  padding-bottom: 30px;
}

.basic_2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 96%;
  height: 600px;
}

.weap {
  padding-bottom: 50px;
}
